[submodule "cv32e40p"]
	path = cv32e40p
	url = https://github.com/openhwgroup/cv32e40p.git
[submodule "axi_gpio"]
	path = axi_gpio
	url = https://github.com/youheng7185/axi_gpio.git
[submodule "core2axi"]
	path = core2axi
	url = https://github.com/youheng7185/core2axi.git
[submodule "cnn_soc_c_project"]
	path = cnn_soc_c_project
	url = https://github.com/youheng7185/cnn_soc_c_project.git
