[submodule "2026_rv1480_cv32e40p"]
	path = cv32e40p
	url = git@github.com:youheng7185/2026_rv1480_cv32e40p.git
[submodule "2026_rv1480_axi_gpio"]
	path = axi_gpio
	url = git@github.com:youheng7185/2026_rv1480_axi_gpio.git
[submodule "2026_rv1480_core2axi"]
	path = core2axi
	url = git@github.com:youheng7185/2026_rv1480_core2axi.git
[submodule "2026_rv1480_cnn_soc_c_project"]
	path = cnn_soc_c_project
	url = git@github.com:youheng7185/2026_rv1480_cnn_soc_c_project.git
[submodule "2026_rv1480_axi_timer"]
	path = axi_timer
	url = git@github.com:youheng7185/2026_rv1480_axi_timer.git
[submodule "2026_rv1480_axi_uart"]
	path = axi_uart
	url = git@github.com:youheng7185/2026_rv1480_axi_uart.git
[submodule "2026_rv1480_axi_cnn"]
	path = axi_cnn
	url = git@github.com:youheng7185/2026_rv1480_CNN_CORE_HDL.git
[submodule "2026_rv1480_axi_data_mem"]
	path = axi_data_mem
	url = git@github.com:youheng7185/2026_rv1480_axi_data_mem.git
[submodule "2026_rv1480_axi_qspi_master"]
	path = axi_qspi
	url = git@github.com:wcr490/2026_rv1480_axi_qspi_master.git
[submodule "2026_rv1480_axi_iic_master"]
	path = axi_i2c
	url = git@github.com:wcr490/2026_rv1480_axi_iic_master.git
